*, *::before, *::after {
  box-sizing: border-box;
}

:root{
--white: #FFF;
--dark-gray: #1a1a1c;
--blue: #2b77c7;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1{
font-size: 6rem;
}

h2{
  font-weight: 300;
  font-size: 2.5rem;
}

h3{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}

p{
  font-size: .8rem;
  line-height: 1.6;
}

.p-light{
  color: var(--white);
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}


.bg-white{
  background-color: var(--white);
}

.bg-gray{
  background-color: var(--dark-gray);
}

.bg-blue{
  background-color: var(--blue);
}


.component-section{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


/*--------------------------------- DS Header ---------------------------------*/

header{
  margin:2rem 0;
  padding: 1rem 0;
  border-bottom: 2px solid var(--dark-gray);
}

header h2{
  margin-bottom: 1rem;
  font-weight: 200;
}

.swatch{
  height: 200px;
  width: 200px;
  padding: 1rem;
  display: flex;
  align-items: end;
}

.base-style{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*--------------------------------- Page Header ---------------------------------*/

.page-header{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header__logo img{
  width: 100px;
}

.page-header__navigation{
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  font-size: .8rem;
}

.secondary{
  font-size: .7rem;
}

.navigation__link{
  color: var(--white);
}

.with-img{
  display: flex;
  align-items: center;
}

.nav-img{
  width: 14px;
  margin-right: 4px;
}


/*--------------------------------- Hero Section ---------------------------------*/

.hero-section{
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.hero-section__video{
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.hero-section__content{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section__title{
  font-weight: 100;
  color: var(--white);
  text-transform: uppercase;
}

.hero-section__button{
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: .5rem;
  border: 1px solid var(--white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}




/*--------------------------------- Product Grid ---------------------------------*/

.page-container{
  margin: 0 auto;
}

.product-grid{
  box-shadow: inset 10px 10px 150px -50px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15rem 3rem 4rem 3rem;
  max-width: 50%;
}

.product-grid__image{
  width: 70%;
  margin: 0 auto;
}

.product-grid__link{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: .5rem 0;
}

.link__icon{
  width: 16px;
}

.product-grid__description{
  padding: 1.5rem 0;
  max-width: 40%;
}


.description__title{
  letter-spacing: 2px;
}
