/*--------------------------------- Global ---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root{
--white: #FFF;
--dark-gray: #1a1a1c;
--blue: #2b77c7;
--black: #000;
}



body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

hr {
width: 100%;
}

.button{
  padding: .5rem 4rem;
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 2rem;
  display: inline-block;
  transition: all 200ms ease-in;
}

.button:hover{
  background-color: var(--white);
  color: var(--dark-gray);
}



/*--------------------------------- Type ---------------------------------*/

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1{
font-size: 6rem;
}

h2{
  font-weight: 300;
  font-size: 4rem;
}

h3{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}

p{
  font-size: .8rem;
  line-height: 1.6;
  margin: 0;
}

.p-light{
  color: var(--white);
}

.p-larger{
  font-size: 1rem;
  font-weight: 400;
}


/*--------------------------------- Utility ---------------------------------*/

.bg-white{
  background-color: var(--white);
}

.bg-gray{
  background-color: var(--dark-gray);
}

.bg-blue{
  background-color: var(--blue);
}

.component-section{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.component-title{
  border-bottom: 1px solid var(--blue);
  margin-top: 2rem;
}

.component-title h4{
  font-weight: 200;
  font-size: 2rem;
}

.relative-top{
  position: relative;
  z-index: 10;
}

.image-bg{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.opacity{
  opacity: .5;
}

/*--------------------------------- DS Header ---------------------------------*/

header{
  margin:2rem 0;
  padding: 1rem 0;
  border-bottom: 2px solid var(--dark-gray);
}

header h2{
  margin-bottom: 1rem;
  font-weight: 200;
}

.swatch{
  height: 200px;
  width: 200px;
  padding: 1rem;
  display: flex;
  align-items: end;
}

.base-style{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*--------------------------------- Page Header ---------------------------------*/

.page-header{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header__logo img{
  width: 100px;
}

.page-header__navigation{
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  font-size: .8rem;
}

.secondary{
  font-size: .7rem;
}

.navigation__link{
  color: var(--white);
}

.with-img{
  display: flex;
  align-items: center;
}

.nav-img{
  width: 14px;
  margin-right: 4px;
}


/*--------------------------------- Hero Section ---------------------------------*/

.hero-section{
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-section__video{
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.hero-section__content{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section__title{
  font-weight: 200;
  color: var(--white);
  text-transform: uppercase;
}

.hero-section__button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: .5rem;
  border: 1px solid var(--white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}

.hero-section__button:hover{
  width: 75px;
  height: 75px;
  background-color: #ffffff74;
}

.hero-section__button:hover img{
 width: 20px;
}

/*--------------------------------- Feature Banner ---------------------------------*/

.feature-banner{
  width: 100%;
  padding: 20rem 0;
  position: relative;
  overflow: hidden;
  background-color: var(--black);
}

.feature-banner__content{
  max-width: 80%;
  margin-right: 0;
  margin-left: auto;
  position: relative;
}

.feature-banner__content p{
  max-width: 30%;
  margin-bottom: 6rem;
}

.feature-banner__title{
  border-bottom: 1px solid var(--white);
}

.feature-banner__icon{
  width: 175px;
  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: 10;
}

/*--------------------------------- Product Grid ---------------------------------*/

.page-container{
  margin: 0 auto;
}

.product-grid__item{
  box-shadow: inset 10px 10px 150px -50px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15rem 3rem 4rem 3rem;
  max-width: 50%;
  position: relative;
  overflow: hidden;
}

.product-grid__image{
  width: 70%;
  margin: 0 auto;
}

.product-grid__video{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-30%);
  min-width: 80%;
  min-height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all .3s ease-out;
}

.product-grid__content{
  position: relative;
  z-index: 10;
}

.product-grid__header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
}

#arrow {
  width: 16px;
  stroke: var(--black);
}

.product-grid__description{
  padding: 1.5rem 0;
  max-width: 40%;
}


.description__title{
  letter-spacing: 2px;
}

/*-------Prodcut Grid Hover-----*/
.product-grid__item:hover .product-grid__video{
  opacity: 1;
}


.product-grid__item:hover .product-grid__content{
  color: var(--white);
  }

.product-grid__item:hover .product-grid__header{
  border-bottom: 1px solid var(--white);
  }

 .product-grid__item:hover svg path {
  stroke: var(--white);
  }

/*--------------------------------- Feature Grid ---------------------------------*/

.feature-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.feature-grid__text{
  min-height: 40vh;
  padding: 10rem 5rem;
  background-color: var(--blue);
  text-align: center;
}

.feature-grid__text p{
  max-width: 60%;
  margin: 1rem auto;
}

.feature-grid__image{
  position: relative;
}

.grid-line{
  position: absolute;
  height: 2px;
  width: 90%;
  background-color: var(--white);
  bottom: 20%;
  right: 0;
  z-index: 10;
}

/*--------------------------------- Info Grid ---------------------------------*/
.info-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.info-grid__item{
  min-height: 66vh;
  padding: 15rem 0 15rem 7.5rem;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-width: 600px;
  justify-content: flex-end;
  background-color: var(--dark-gray);
  color: var(--white);
}

.info-grid__img{
  width: 45%;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.info-grid__item p {
  max-width: 50%;
}

.bg-img{
  background-image: url("../images/2021-learntofly-hero-1-scaled.webp");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}