/*--------------------------------- Global ---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root{
--white: #FFF;
--dark-gray: #1a1a1c;
--blue: #2b77c7;
--black: #000;
}



body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

hr {
width: 100%;
color: var(--dark-gray);
position: relative;
z-index: 10;
}

.button{
  padding: .5rem 4rem;
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 2rem;
  display: inline-block;
  transition: all 200ms ease-in;
}

.button:hover{
  background-color: var(--white);
  color: var(--dark-gray);
}

.dark{
  border: 2px solid var(--dark-gray);
  color: var(--dark-gray);
}

.dark:hover{
  background-color: var(--dark-gray);
  color: var(--white);
}


.badge{
  padding: .2rem 1rem;
  font-size: 14px;
  border: 2px solid var(--white);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 2rem;
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: all .3s ease-out;
}


/*--------------------------------- Type ---------------------------------*/

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 200;
}

h1{
font-size: 6rem;
}

h2{
  font-weight: 300;
  font-size: 3.5rem;
}

h3{
  font-weight: 200;
  text-transform: uppercase;
  font-size: 2rem;
}

p{
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  font-weight: 400;
}

.p-light{
  color: var(--white);
}

.p-larger{
  font-size: 1rem;
  font-weight: 400;
}


/*--------------------------------- Utility ---------------------------------*/

.bg-white{
  background-color: var(--white);
}

.bg-gray{
  background-color: var(--dark-gray);
}

.bg-blue{
  background-color: var(--blue);
}

.component-section{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.component-title{
  border-bottom: 1px solid var(--blue);
  margin-top: 2rem;
}

.component-title h4{
  font-weight: 200;
  font-size: 2rem;
}

.relative-top{
  position: relative;
  z-index: 10;
}

.image-bg-absolute{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.opacity{
  opacity: .5;
}

.all-caps{
  text-transform: capitalize;
}

.bg-img{
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

/*--------------------------------- DS Navigation ---------------------------------*/
.ds-navigation{
  background-color: var(--dark-gray);
  height: 100vh;
  width:200px;
  position: fixed;
  border-right: 2px solid var(--blue);
  padding: 1rem;
}

.ds-navigation img{
  width: 80%;
  margin: auto 0;
}

.ds-nav__list{
margin-top: 1rem;
}

.ds-nav__list li{
  padding: .5rem 0;
  }

.ds-nav__list a{
  color: var(--blue);
  font-weight: 500;
  }

main{
  margin-left: 200px;
}

/*--------------------------------- DS Header ---------------------------------*/

header{
  padding: 1rem 0;
  border-bottom: 2px solid var(--dark-gray);
}

header h2{
  margin-bottom: 1rem;
  font-weight: 200;
  text-decoration: underline;
}

.swatch{
  height: 200px;
  width: 200px;
  padding: 1rem;
  display: flex;
  align-items: end;
}

.base-style{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.swatches{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.swatches h4{
  width: 100%;
}

/*--------------------------------- Page Header ---------------------------------*/

.page-header{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header__logo img{
  width: 100px;
}

.page-header__navigation{
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  font-size: .8rem;
  align-items: center;
}

.navigation__link{
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 400;
}

.nav-small{
  display: flex;
  align-items: center;
  font-size: .8rem;
}

.nav-img{
  width: 14px;
  margin-right: 4px;
}


/*--------------------------------- Hero Section ---------------------------------*/

.hero-section{
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-section__video{
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.hero-section__content{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section__title{
  font-weight: 200;
  color: var(--white);
  text-transform: uppercase;
}

.hero-section__button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: .5rem;
  border: 1px solid var(--white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}

.hero-section__button:hover{
  width: 75px;
  height: 75px;
  background-color: #ffffff74;
}

.hero-section__button:hover img{
 width: 20px;
}

/*--------------------------------- Feature Banner ---------------------------------*/

.feature-banner{
  width: 100%;
  padding: 20rem 0;
  position: relative;
  overflow: hidden;
  background-color: var(--black);
}

.feature-banner__content{
  max-width: 80%;
  margin-right: 0;
  margin-left: auto;
  position: relative;
}

.feature-banner__content p{
  max-width: 30%;
  margin-bottom: 6rem;
}

.feature-banner__title{
  border-bottom: 1px solid var(--white);
}

.feature-banner__icon{
  width: 175px;
  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: 10;
}

/*--------------------------------- Product Grid ---------------------------------*/

.product-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
}

.page-container{
  margin: 0 auto;
}

.product-grid__item{
  box-shadow: inset 10px 10px 150px -50px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10rem 3rem 6rem 3rem;
  width: 50%;
  position: relative;
  overflow: hidden;
}

.product-grid__image{
  width: 80%;
  margin: 0 auto;
}

.product-grid__video{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-30%);
  min-width: 80%;
  min-height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all .3s ease-out;
}

.product-grid__content{
  position: relative;
  z-index: 10;
}

.product-grid__header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
}

#arrow {
  width: 16px;
  stroke: var(--black);
}

.product-grid__description{
  padding: 1.5rem 0;
  max-width: 40%;
}


.description__title{
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
}

/*-------Prodcut Grid Hover-----*/
.product-grid__item:hover .product-grid__video{
  opacity: 1;
}


.product-grid__item:hover .product-grid__content{
  color: var(--white);
  }

.product-grid__item:hover .product-grid__header{
  border-bottom: 1px solid var(--white);
  }

 .product-grid__item:hover svg path {
  stroke: var(--white);
  }

/*--------------------------------- Feature Grid ---------------------------------*/

.feature-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.feature-grid__text{
  min-height: 40vh;
  padding: 10rem 5rem;
  background-color: var(--blue);
  text-align: center;
}

.feature-grid__text p{
  max-width: 60%;
  margin: 1rem auto;
}

.feature-grid__image{
  position: relative;
  overflow: hidden;
}

.grid-line{
  position: absolute;
  height: 2px;
  width: 90%;
  background-color: var(--white);
  bottom: 20%;
  right: 0;
  z-index: 10;
}

.feature-line{
  position: absolute;
  left: 6rem;
  bottom: 6rem;
}

/*--------------------------------- Services Grid ---------------------------------*/
.services-grid{
  background-color: var(--dark-gray);
  padding: 7.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.services-grid__text{
  width: 50%;
  z-index: 10;
}

.services-grid__text p{
  max-width: 80%;
  margin-bottom: 1rem;
}

.services__img{
width: 50%;
padding-right: 6rem;
}


/*--------------------------------- Info Grid ---------------------------------*/
.info-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


.info-grid__item{
  min-height: 66vh;
  padding: 15rem 0 15rem 7.5rem;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  width: 50%;
  justify-content: flex-end;
  background-color: var(--dark-gray);
  color: var(--white);
}

.info-grid__img{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.info-grid__item p {
  max-width: 50%;
}



.info-with-bg{
  background-image: url("../images/2021-learntofly-hero-1-scaled.webp");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 0;
}

/*--------------------------------- Story Grid ---------------------------------*/

.story{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 6rem;
}

.story__header{
  text-align: center;
  max-width: 40%;
}

.story__grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
  max-width: 1500px;
}

.story-grid__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  background-color: aqua;
  aspect-ratio: 1/1;
  padding: 3rem;
  color: var(--white);
  position: relative;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.large{
  width: 70%;
  height: 100%;
}

.story-grid__small{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 30%;
}

.story-item__content{
  position: relative;
  z-index: 10;
  transition: all .1s ease-out;
  overflow: hidden;
  padding-top: 10px;
  height: 105px;
}

.story-item__content-small{
  position: relative;
  z-index: 10;
  transition: all .1s ease-out;
  overflow: hidden;
  padding-top: 20px;
  height: 25px;
}

.story-gradient{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  opacity: 0;
  transition: opactiy .3s ease-out;
}

#story1{
  background-image: url("../images/kincer-chassis-bronco-rockwood-sr-08-1200x800-9b9f185.png.webp");
}

#story2{
  background-image: url("../images/cirrus-flying-fields.jpg");
}

#story3{
  background-image: url("../images/cirrus-flying-nyc.jpg");
}

#story4{
  background-image: url("../images/cirrus-on-ramp.jpg");
}

#story5{
  background-image: url("../images/hero.jpg.webp");
}

.story-grid__item:hover .story-gradient{
opacity: 1;
}

.story-grid__item:hover .story-item__content{
  padding-top: 0px;
}

.story-grid__item:hover .story-item__content-small{
  padding-top: 0px;
}

.story-grid__item:hover .badge{
  background-color: var(--white);
  color: var(--dark-gray);
}


/*--------------------------------- Carousel ---------------------------------*/

.carousel{
  padding: 6rem;
  text-align: center;
  background-color: var(--dark-gray);
}

.carousel-img__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top:4rem;
  max-width: 70%;
  margin: 0 auto;
}

.img-container__img{
  padding: 1rem;
  height: 20rem;
  width: 40%;
  height: 30rem;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}

.carousel-gradient{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);
  z-index: 1;
}

.img-container__img h3{
font-size: 1.4rem;
font-weight: 500;
}

.img-container__content{
  position: relative;
  z-index: 10;
  height: 100px;
  padding-top: 30px;
  overflow: hidden;
  transition: padding .3s ease-out;
}

#carousel-1{
  background-image: url("../images/carousel-img-1.webp");
}

#carousel-2{
  background-image: url("../images/carousel-img-2.webp");
}

#carousel-3{
  background-image: url("../images/carousel-img-3.webp");
}

#carousel-4{
  background-image: url("../images/carousel-img-4.webp");
}

.img-container__img:hover{
  cursor: pointer;
}

.img-container__img:hover .img-container__content{
  padding-top: 0;
}

/*--------------------------------- Footer ---------------------------------*/

.footer{
  border-top: 2px solid var(--white);
  background-color: var(--dark-gray);
  padding: 6rem 6rem 13rem 6rem;
}

.footer-wrapper{
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer__contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact__form{
  max-width: 400px;
}

.contact__form form{
  margin-bottom: 1rem;
}

.text-entry{
  color: #fff;
  background-color: #1a1a1c;
  border: 1px solid transparent;
  border-bottom-color: #d8d8d8;
  font-size: 15px;
  margin-right: 1rem;
}

.btn-submit{
  color: var(--white);
  background-color: var(--blue);
  padding: .5rem 1rem;
  border: 1px solid var(--blue);
  display: inline-block;
  border-radius: 20px;
  transition: all .3s ease-out;
}

.btn-submit:hover{
  color: var(--blue);
  background-color: var(--white);
  cursor: pointer;
}

.footer__social a{
margin-right: .5rem;
}

.footer__nav{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-between;
  align-items: stretch;
}

.footer-nav__column{
  flex: auto;
}

.footer-nav__item{
padding: .5rem 0;
border-bottom: 1px solid #d8d8d8;
}

.footer-nav__item a{
  color: var(--white);
  text-transform: capitalize;
}

.footer__footnote{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

.footer__footnote img{
  height: 30px;
}

.footer__footnote a{
  color: var(--white);
  font-size: 12px;
  margin-right: .5rem;
  font-weight: 500;
}


/*--------------------------------- Homepage Styles ---------------------------------*/

.homepage__header{
  position: absolute;
  z-index: 10;
}

.services-full-width{
min-height: 80vh;
padding-left: 15rem;
}

.full-width{
  width: 100vw;
}