<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Design System</title>
  </head>
  <body>
    <main>
      <header class="component-section">
        <h2>Cirrus Aircraft</h2>
        <h3>Web Design Study</h3>
        <div class="base-style">
          <h4>Typography:<br>Open Sans</h4>
          <h4>Color</h4>
          <div class="swatch">
            <p>
              White: #FFFFFF
            </p>
            </div>
            <div class="swatch bg-gray">
              <p class="p-light">
                Dark Gray: #1A1A1C
              </p>
            </div>
            <div class="swatch bg-blue">
              <p class="p-light">
                Blue: #2B77C7
              </p>
            </div>
          </div>
        </header>

        <!--------------- Navigation -------------->
        <div class="component-section bg-gray">
          <div class="component-title p-light">
            <h4>Page Header</h4>
          </div>
          <img src="../images/page-header.png" alt="cirrus aircraft nav bar">
          <nav class="page-header">
            <a href="#" class="page-header__logo"><img src="../images/logo.svg" alt="cirrus aircraft logo"></a>
            <ul class="page-header__navigation">
              <li><a href="#" class="navigation__link">Aircraft <img src="../images/drop-down.svg" alt="drop down arrow"></a></li>
              <li><a href="#" class="navigation__link">Flight Training</a> </li>
              <li><a href="#" class="navigation__link">Service & Support</a></li>
              <li><a href="#" class="navigation__link">Store</a></li>
            </ul>
            <ul class="page-header__navigation secondary">
              <li><a href="#"  class="navigation__link">Configurator</a></li>
              <li> <a href="#" class="navigation__link with-img"><img src="../images/location.svg" alt="" class="nav-img">Find Us</a> </li>
              <li><a href="#" class="navigation__link with-img"><img src="../images/profile.svg" alt="profile icon" class="nav-img">Sign In</a></li>
              <li><a href="#" class="navigation__link with-img"><img src="../images/hamburger.svg" alt="hamburger menu"></a></li>
            </ul>
          </nav>
        </div>
        <!--------------- Hero Section -------------->
        <div class="component-section">
          <div class="component-title">
            <h4>Hero Section</h4>
          </div>
          <img src="../images/hero.png" alt="cirrus aircraft hero section">
          <div class="hero-section">
            <video autoplay muted loop class="hero-section__video">
              <source src="../video/SR-G7-and-Vision-Jet-web-loop-2.mp4" type="video/mp4">
            </video>
            <div class="hero-section__content relative-top">
              <h1 class="hero-section__title">Discover The <br> Cirrus Life</h1>
            </div>
            <div class="hero-section__button relative-top">
              <img src="../images/drop-down.svg" alt="downward arrow">
            </div>
          </div>
        </div>

        <!--------------- Feature Banner -------------->
        <div class="component-section bg-gray">
          <div class="component-title p-light">
            <h4>Feature Banner</h4>
          </div>
          <img src="../images/feature-banner.png" alt="cirrus aircraft hero section">
          <div class="feature-banner">
            <img src="../images/cirrus-aircraft-ny2024-sr-lifestyle-05-8192x5464-6265d40-1-scaled.webp" alt="cirrus G7 airplane cockpit" class="image-bg opacity">
            <div class="feature-banner__content relative-top">
              <h2 class="feature-banner__title p-light">SR Series G7</h2>
              <p class="p-light p-larger">The SR Series G7 aircraft features Perspective Touch+ by Garmin® touchscreen interfaces, large high-resolution displays, advanced safety systems, improved visibility, increased legroom and enhanced convenience features.</p>
              <a href="#" class="button">SR Series</a>
            </div>
            <img src="../images/g7-icon-white-2098x1158-dfdc85b.png.webp" alt="G7 logo" class="feature-banner__icon">
          </div>
        </div>

        <!--------------- Prodcut Grid -------------->
        <div class="component-section">
          <div class="component-title">
            <h4>Product Grid</h4>
          </div>
          <img src="../images/product-grid.png" alt="screenshot from cirrus aircraft">
                <a href="#"  class="product-grid__item">
                  <img src="../images/aircraft-hero-g2-vision-jet.png.webp" alt="cirrus vision jet" class="product-grid__image">
                  <video autoplay muted loop class="product-grid__video">
                    <source src="../video/June-2022-Vison-Jet-Web-Loop_1.mp4" type="video/mp4">
                  </video>
                  <div class="product-grid__content">
                    <div class="product-grid__header">
                      <h2 class="link__title">Vision Jet</h2>
                      <svg id="arrow" width="28" height="49" viewBox="0 0 28 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="arrow-path" d="M1.17773 1.6355L26.1777 24.6355L1.17773 47.6355" stroke="black" stroke-width="2"/>
                      </svg>
                    </div>
                    <div class="product-grid__description">
                      <h3 class="description__title">
                        Vision Jet <br> The next evolution is here
                      </h3>
                      <p>The award-winning Vision Jet ushers in a new era in personal transportation wher jet speed, jet comfort and jet convenience are accessible.</p>
                    </div>
                  </div>
                </a>
        </div>

<!--------------- Feature Grid -------------->
          <div class="component-section bg-gray">
            <div class="component-title p-light">
              <h4>Feature Grid</h4>
            </div>
            <img src="../images/feature-grid.png" alt="cirrus aircraft website screenshot">
              <div class="feature-grid">
                <div class="feature-grid__text p-light">
                  <h2>New Vision Jet Features</h2>
                  <p class="p-larger">Auto Radar powered by Garmin® and Cirrus IQ™ connectivity have been added as new advanced features on the world’s best-selling personal jet, the Vision Jet. These upgrades now provide pilots with increased situational awareness and connectivity during all stages of pre-flight and inflight activities.</p>
                  <a href="#" class="button">Vision Jet</a>
                </div>
                <div class="feature-grid__image">
                  <hr class="p-light">
                  <img src="../images/vision-jet-water-scaled.jpg" alt="people shaking hands in front of cirrus jet" class="image-bg">
                </div>
              </div>
          </div>

<!------#--------- Info Grid -------------->
        <div class="component-section">
          <div class="component-title">
            <h4>Info Grid</h4>
          </div>
          <img src="../images/info-grid.png" alt="cirrus aircraft website screenshot">
            <div class="info-grid">
              <a href="#" class="info-grid__item">
                <img src="../images/icon__globe.svg" alt="globe icon" class="info-grid__img">
                <h2 class="info-grid__title">Global Coverage</h2>
                <hr class="p-light">
                <p class="p-larger">Our global network includes 700+ Cirrus Training Partners and Authorized Service Centers across the world available to help, anywhere you fly.</p>
              </a>
              <a href="#" class="info-grid__item --full-bg bg-img">
                <h2 class="info-grid__title">Global Coverage</h2>
                <hr class="p-light">
                <p class="p-larger">Our global network includes 700+ Cirrus Training Partners and Authorized Service Centers across the world available to help, anywhere you fly.</p>
              </a>
            </div>
        </div>
          
<!--------------- Story Section -------------->
        <div class="component-section bg-gray">
          <div class="component-title p-light">
            <h4>Story Section</h4>
          </div>
          <img src="../images/story-section.png" alt="cirrus aircraft website screenshot">
            <div class="story">
              <div class="story__header">
                <h2>Cirrus Aircraft Stories</h2>
                <hr>
                <p>Discover The Cirrus Life and more from our team around the world.</p>
              </div>
              <div class="story__grid">
                <a href="#" class="story-grid__item large bg-img" id="story1">
                  <div class="badge">The Cirrus Life</div>
                  <div class="story-item__content">
                    <h3>Preparring Your<br>Cirrus For Spring</h3>
                    <hr class="p-light">
                  </div>
                  <div class="story-gradient"></div>
                </a>
                  <div class="story-grid__small">
                    <a href="#" class="story-grid__item" id="story2">
                      <div class="story-item__content-small">
                        <p class="p-light">@flymikesierra</p>
                      </div>
                      <div class="story-gradient"></div>
                    </a>
                    <a href="#" class="story-grid__item" id="story3">
                      <div class="story-item__content-small">
                        <p class="p-light">@flymikesierra</p>
                      </div>
                      <div class="story-gradient"></div>
                    </a>
                    <a href="#" class="story-grid__item" id="story4">
                      <div class="story-item__content-small">
                        <p class="p-light">@flymikesierra</p>
                      </div>
                      <div class="story-gradient"></div>
                    </a>
                    <a href="#" class="story-grid__item" id="story5">
                      <div class="badge">The Cirrus Life</div>
                      <div class="story-item__content-small">
                        <h4>Winter Flying Tips</h4>
                        <hr class="p-light">
                      </div>
                      <div class="story-gradient"></div>
                    </a>
                  </div>
                </div>
                <a href="#" class="button dark">See More</a>
              </div>
            </div>

<!--------------- Carousel -------------->
            <div class="component-section bg-gray">
              <div class="component-title p-light">
                <h4>Carousel</h4>
              </div>
              <img src="../images/carousel.png" alt="cirrus aircraft website screenshot">
                <div class="carousel">
                  <div class="carousel-header">
                    <h2 class="p-light">#CirrusLife</h2>
                    <p class="p-light p-larger all-caps">FAN PHOTOS FROM ACROSS THE WORLD. TAG US ON INSTAGRAM TO BE FEATURED.</p>
                  </div>
                  <div class="carousel-img__container">
                    <div class="img-container__img p-light bg-img" id="carousel-1">
                      <div class="img-container__content">
                        <h3>Wimlington,<br>North Carolina</h3>
                        <p>@insatgramhandle</p>
                      </div>
                      <div class="carousel-gradient"></div>
                    </div>
                    <div class="img-container__img p-light bg-img" id="carousel-2">
                      <div class="img-container__content">
                        <h3>Newport,<br>Rhode Island</h3>
                        <p>@insatgramhandle</p>
                      </div>
                      <div class="carousel-gradient"></div>
                    </div>
                    <div class="img-container__img p-light bg-img" id="carousel-3">
                      <div class="img-container__content">
                        <h3>Nevado De Toluca,<br>Mexcio</h3>
                        <p>@insatgramhandle</p>
                      </div>
                      <div class="carousel-gradient"></div>
                    </div>
                    <div class="img-container__img p-light bg-img" id="carousel-4">
                      <div class="img-container__content">
                        <h3>Coastal New South Wal</h3>
                        <p>@insatgramhandle</p>
                      </div>
                      <div class="carousel-gradient"></div>
                    </div>
                  </div>
                </div>
              </div>

<!--------------- Carousel -------------->
              <div class="component-section">
                <div class="component-title">
                  <h4>Footer</h4>
                </div>
                <img src="../images/footer.png" alt="cirrus aircraft website screenshot">
                 <div class="footer">
                  <div class="footer__contact">
                    <div class="contact__email">
                      <form action=""></form>
                    </div>
                  </div>
                  <nav class="footer__nav">
                    <ul class="nav__column">

                    </ul>
                    <ul class="nav__column">
                      
                    </ul>
                    <ul class="nav__column">
                      
                    </ul>
                  </nav>
                  <div class="footer__footnote"></div>
                 </div>
              </div>
 
      </main>
  </body>
</html>